@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat";
  margin: 0;
}

/* jumbo */

.jumbo {
  background-image: url("../media/pexels-kelsey-johnson-2331575.jpg");
  height: 100vh;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.title-holder {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 0;
}

.title span {
  font-size: 16px;
  color: rgb(194, 194, 194);
}

/* navbar */

.navbar {
  background-color: #fca783;
  padding: 0px 120px;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.logo {
  display: inline-block;
}
.logo a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 12px 16px;
  font-size: 18px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
  display: inline-block;
}

.nav-item {
  display: inline-block;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: #c7866a;
}

.nav-item a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 12px 16px;
  font-size: 18px;
}

/* content */
.content {
  padding: 0px 120px;
  display: flex;
  margin-top: 20px;
}

.content .side {
  width: 20%;
  padding: 10px;
  background-color: antiquewhite;
}

.content .main {
  width: 80%;
  padding: 10px;
  color: rgb(73, 73, 73);
}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

/* gallery */
.gallery {
  column-count: 3;
  column-gap: 12px;
  column-fill: balance;
  padding: 20px 120px;
}

.gallery img {
  display: inline-block;
  width: 100%;
  margin: 6px 0px;
  transition: 0.3s;
  box-shadow: -3px 3px 5px rgba(73, 73, 73, 0.4);
}
.gallery img:hover{
    transform: scale(0.98);
    box-shadow:-3px 3px 0px #fca783;
}

/* footer */

.footer {
  background-color: #fca783;
  text-align: center;
  color: white;
  padding: 50px 120px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  /* jumbo */

  .jumbo {
    background-size: cover;
  }

  .title {
    font-size: 30px;
  }

  .navbar {
    display: block;
    padding: 0px;
    position: static;
  }
  .nav-list {
    display: block;
    text-align: left;
  }
  .nav-item {
    display: block;
  }
  .nav-item a {
    font-size: 12px;
  }

  /* content */
  .content {
    padding: 0px 5px;
    display: block;
  }
  .content .side {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
  }

  .content .main {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
  }

  /* gallery */
  .gallery {
    column-count: 1;
    column-gap: 0px;
    padding: 10px;
  }

  .gallery img {
    margin: 5px 0px;
  }

  /* footer */

  .footer {
    padding: 50px 5px;
  }
}
