.flex-1 > div:hover{
    background-image: linear-gradient( 111.6deg,  rgba(73,235,221,1) -0%, rgba(83,222,219,1) 7.1%, rgba(105,191,217,1) 13.4%, rgba(127,157,214,1) 18%, rgba(155,113,208,1) 23.9%, rgba(178,73,201,1) 28.8%, rgba(200,45,192,1) 33.3%, rgba(213,42,180,1) 38%, rgba(232,44,145,1) 44.2%, rgba(239,45,128,1) 52.4%, rgba(249,66,107,1) 59.7%, rgba(252,105,98,1) 67.3%, rgba(252,105,98,1) 74.4%, rgba(254,145,92,1) 82.2%, rgba(255,189,86,1) 88.2% );
      background-size: 1000% 1000%;
      animation: gradient 5s ease-in-out alternate infinite;
  }
  
  @keyframes gradient {
    0%{
      background-position: 0% 20%;
    }
      25% {
          background-position: 20% 40%;
    }
    50%{
      background-position: 40% 60%;
    }
      75% {
          background-position: 60% 80%;
    }
    100% {
          background-position: 80% 100%;
      }
  }