@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat";
  margin: 0;
}

.head {
  font-size: 30px;
  color: royalblue;
  margin-bottom: 15px;
}

.divider {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 2px;
  background-color: rgb(100, 100, 100);
  border: none;
}

.link{
    padding: 10px;
    color: white;
    background-color: royalblue;
    text-decoration: none;
    margin: 10px;
}

/* banner  */

.banner {
  background-image: url("../media/pexels-skinny-alien-2318554.jpg");
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}

.banner-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.5);
}

.banner-txt {
  font-size: 60px;
  color: white;
}

/* row column (grid) */

.row {
  padding: 0px 5px;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  box-sizing: border-box;
  padding: 5px;
}

[class*="col-"] > div {
  background-color: lemonchiffon;
  color: brown;
  height: 100px;
  padding: 10px;
  border: 2px dashed orangered;
}

/* hide */

.hide {
  background-color: royalblue;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

/* change font-size */
.font-change {
  font-size: 30px;
  padding: 15px;
}

.media-holder {
  text-align: center;
}

.media-holder img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

/* video */

.video-res {
  width: 50%;
}

/* media queries */

@media screen and (max-width: 900px) {
  .banner {
    background-image: url("../media/pexels-kate-trifo-3804996.jpg");
  }
  .banner-txt {
    font-size: 40px;
  }

  [class*="col-"] {
    float: none;
    width: 100%;
  }

  .font-change {
    font-size: 20px;
  }

  .media-holder img {
    width: 75%;
  }

  .video-res {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .banner-txt {
    font-size: 20px;
  }
  .hide {
    display: none;
  }

  .font-change {
    font-size: 10px;
  }
}
